.App {
    .ant-typography {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }

    .welcomeMessage{
        .ant-typography{
            color:green;
            font-size: 30px;
        }
    }

    .ant-input{
        border-color: green;
    }
    .ant-input::placeholder {
        color: blue;
    }

    .customInput1{
        .ant-input{
            color: green;
        }
    }

    .customInput2{
        .ant-input{
            color: red;
        }
    }

    .ant-btn {
        background-color: aquamarine;
        border-radius: 8px;
        color: azure;
        font-weight: bold;
    }

    .datePicker {
        border-color: green;
    }

   



    
}

 .datePickerCell {
        .ant-picker-cell{
            color: red;
  background-color: #f0f0f0;
        }
}