

.welcomeMessage {
  color:rgb(29, 226, 193);
  .ant-typography{
  color:rgb(63, 22, 241);
  display: block;
  font-size: 50px;
  font-weight: bold;
}

}

.ant-input{
    border-color:aquamarine
}
.ant-input :hover {
    border-color: bisque;
}